# Utsläpp från svenska kommuner
# Introduktion till uppgiften
I den här uppgiften ska vi lära oss mer om svenska kommuners utsläpp av växthusgaser. Det räknas varje år ut data för hur mycket utsläpp som sker av olika ämnen i Sveriges kommuner. 

Genom att undersöka den här datan närmare kan man jämföra olika kommuners utsläpp och se hur de skiljer sig åt. Vi kommer rita diagram för hur utsläppen har ändrats över tid, och även stapeldiagram för att jämföra utsläppen mellan kommuner. Du kommer också få lära dig vad koldioxidekvivalent betyder.

![Bild på utsläpp av rök](https://upload.wikimedia.org/wikipedia/commons/6/64/Smoke_Pollution.jpg)
[Foto](https://pixabay.com/sv/photos/r%C3%B6k-fabriken-f%C3%B6rorening-industrin-1580460/) av [AdinaVoicu](https://pixabay.com/sv/users/adinavoicu-485024/) / [Pixabay License](https://pixabay.com/sv/service/license/)

Programmeringsmässigt handlar den här uppgiften till största del om att hantera data i listor och tabeller. Det förutsätts att du vet vad en lista är i python, samt hur man indexerar i en lista. 

Du kommer lära dig att indexera i tabeller eller välja ut rader eller kolumner ur tabellen. Du kommer också lära dig hur du kan använda en slice för att välja ut delar av listor.

## Introduktion till listor och tabeller

I den här uppgiften kommer vi kolla mycket på listor och tabeller i python. Listor har vi stött på i tidigare uppgifter, de kan till exempel innehålla element som är heltal:

In [ ]:
lista = [1,5,0,-2]
print(lista)

För att skapa tabeller kommer vi använda listor där elementen i sig också är listor. På så sätt kan vi lägga till en dimension och därmed skapa en tabell:

In [ ]:
en_lista = [1,5,0,-2]
en_annan_lista = [2,3,7,1]
tabell = [en_lista, en_annan_lista]
print(tabell)

Kör koden och se vad du får för utskrift.

Detta kanske inte ser ut som en tabell, men om vi istället skriver ut varje element på var sin rad ser det mer ut som en tabell:

In [ ]:
for element in tabell:
    print(element)

Listorna som är element i den stora listan motsvarar en rad i tabellen.

### Indexering

Indexering handlar om att få ut enstaka element ur listor. Om man skriver:

In [ ]:
print(en_lista[1])

Så får man ut det andra elementet, 5. Det är för att vi börjar räkna från 0.

Man kan göra detta upprepat för att få ut element ur sin tabell. Kör koden nedan och se vilket element som skrivs ut. Förstår du varför?

In [ ]:
print(tabell[1][2])

<details>
<summary markdown="span">
Tips
</summary>
<p>
Vad motsvarar tabell[1]? Vad händer när vi sedan gör [2] på det? 
</p>
</details>

<details>
<summary markdown="span">
Svar
</summary>
<p>
Vi får ut 7. Det är för att vi först tar den andra raden med [1] och sen det tredje elementet [2].  
</p>
</details>

Skriv kod som skapar en tabell som har 4 kolumner och 3 rader. Kan du göra det med endast en kodrad?

In [ ]:
#Skriv din kod här:
tabell =

<details>
<summary markdown="span">
Svar
</summary>
<p>

```python
tabell = [[1,2,3,4], [5,6,7,8], [9,8,7,6]]
```
</p>
</details>

Hur ska du göra för att få tillgång till det första elementet i den sista raden?

In [ ]:
print(???) # Skriver ut det första elementet i den sista raden

<details>
<summary markdown="span">
Svar
</summary>
<p>

```python
print(tabell[2][0])
```
</p>
</details>

## Välj ut ett län och ladda ner till colab

I hela den här uppgiften ska vi titta på utsläpp av koldioxid och metan. Datafiler kan hämtas för alla län från SMHI, men för säkerhets skull tillhandahåller vi också nedsparade datafiler för skåne. Följ en av instruktionerna nedan.

### Ladda ner datafiler från smhi

Gå in på [http://www.airviro.smhi.se/cgi-bin/RUS/apub.html_rusreport.cgi](http://www.airviro.smhi.se/cgi-bin/RUS/apub.html_rusreport.cgi), och filtrera på länet du vill arbeta med. Välj koldioxid och metan, och ladda ner datafilerna till din dator. 

Nu ska du ladda upp datafilerna till colab. Tryck på files i menyn i vänsterkanten, och sedan upload. Ladda upp dina två filer. 

Om du kan: öppna också filerna du har laddat ner och titta på innehållet (i till exempel excel eller google sheets). I det andra databladet finns en stor tabell. Datan är uppdelad över varifrån utsläppen kommer. De första raderna innehåller information om vad hela kommuner släpper ut, vilket är vad vi främst kommer kolla på här.

### Ladda ner nedsparade datafiler för skåne län

Om det inte funkar att ladda ner manuellt enligt instruktionerna ovan, har vi en nödlösning här:

Kör koden nedan.

In [ ]:
!wget https://github.com/lunduniversity/schoolprog-satellite-data/raw/master/regionalemissions/lansrapport_skane_CO2.xls --quiet
!wget https://github.com/lunduniversity/schoolprog-satellite-data/raw/master/regionalemissions/lansrapport_skane_CH4.xls --quiet

Tryck på files i menyn till vänster, och kolla att filerna dykt upp där.

### Läs in datafilerna med python

Oavsett vilket alternativ du valde ovan, borde du nu ha filer inladdade i colab. Dessa behöver läsas in av python. För att det inte ska bli för krångligt kommer här nedan en liten kodsnutt som gör det knepigaste jobbet. Kör koden. Du behöver inte förstå vad koden gör.

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

#Får ett filnamn och antal kommuner i länet. Returnerar tabell från xls-filen.
def read_data(filename):
  df = pd.read_excel(filename, sheet_name=1)
  values = df.values.tolist() #Skapar en matris med innehållet från andra
                              #databladet i excel-filen
  num_kommuner = sum([row[0]=='alla' for row in values]) - 1
  tabell = values[3:6+num_kommuner] #Väljer ut början av tabellen fram till och
                                   #med sista kommunen.
  kort_tabell = [rad[3:] for rad in tabell]
  return kort_tabell

#Skriver ut en tabell fint
def print_table(table):
    print(pd.DataFrame(table))

Med hjälp av funktionen `read_data` i koden ovan kan vi nu läsa in filerna. Vi börjar med filen för koldioxid. Om du använder nedsparad data för skåne borde du inte behöva ändra något. Annars behöver du ändra parametern till namnet på din fil.

In [ ]:
co2_filename = 'lansrapport_skane_CO2.xls' #Byt ut mig!
co2_tabell = read_data(co2_filename)

Skriv ut tabellen och verifiera att den innehåller en tabell över kommunerna i länet. En vanlig print blir lång och svårtolkad. Det finns dock en funktion `print_table` som är skriven ovanför. Den kan hjälpa dig.

In [ ]:
#Lång och svårtolkad utskrift
#print(co2_tabell)

#Lättare att se hur tabellen ser ut
print_table(co2_tabell)

Det borde stå `NaN` i över vänstra hörnet. Det är bara en beteckning för 'not a number', och betyder ungefär att rutan är tom.

## Plotta CO2-utsläpp

Nu vill vi se hur mycket koldioxid som släppts ut i ditt län de senaste åren. SMHI har data som börjar redan 1990, men vi är intresserade av åren 2010 och framåt.

Till att börja med behöver årtalslistan plockas ut från tabellen.

Vilken rad i tabellen hittar du årtalen på?

<details>
<summary markdown="span">
Svar
</summary>
<p>
Årtalen är på den första raden. Titta i utskriften från uppgiften ovanför så ser du det.
</p>
</details>

Vilket index motsvarar detta i tabellen?

<details>
<summary markdown="span">
Svar
</summary>
<p>
Index 0. Det är för att man börjar räkna från 0.
</p>
</details>

Vi kan nu skapa en variabel `years` som innehåller årtalen genom att plocka ut dem från tabellen. Fyll i rätt index i koden nedan!

In [ ]:
# Rätta till kodraden nedan så att den plockar ut rätt rad i tabellen.
years = co2_tabell[???]
print(years)

Vi behöver nu motsvarande utsläpp för åren i listan years. De sammanlagda utsläppen för hela länet ligger på den tredje raden i tabellen. Därför kan vi hämta dem med följande kod. Kör koden.

In [ ]:
total_co2 = co2_tabell[2]
print(total_co2)

Nu har vi två listor: `years` som innehåller årtal och `total_co2` som innehåller mätvärden av hur mycket koldioxid som släppts ut olika år i hela länet. 

Som du kanske minns börjar datan med mätvärden från 1990. Efter 2010 finns det dock mätningar varje år, därför vill vi endast ta med 2010 och framåt i vårt diagram. 

Det första steget är att ta reda på vilken kolumn i tabellen som representerar år 2010. Kan du ta reda på det?

In [ ]:
# Skriv ut något så att du kan ta reda på var 2010 är i tabellen.

print(???)

<details>
<summary markdown="span">
Tips
</summary>
<p>
Vilken variabel innehåller information om årtalen?
</p>
</details>

<details>
<summary markdown="span">
Svar
</summary>
<p>
Om man skriver 

```python
print(years) 
````
så kan man se att 2010 är det 5:e elementet i listan, det vill säga på index 4. 
</p>
</details>

Vi har nu det vi behöver för att kunna plotta vår data.

Fyll i index för kolumnen med 2010. Kör sedan kodblocket nedan.

In [ ]:
# Fyll i vilken kolumn som 2010 är i.

index_of_year_2010 = ???

# Plocka ut år 2010 och framåt
years_from_2010 = years[index_of_year_2010:]
total_co2_from_2010 = total_co2[index_of_year_2010:]

#Plotta diagram:
plt.plot(years_from_2010, total_co2_from_2010, "o-", label="Koldioxid i hela länet")
plt.xlabel("Årtal")
plt.ylabel("Ton")
plt.ylim(0) #Gör så att y-axeln börjar från 0.
plt.legend()
plt.show()

<details>
<summary markdown="span">
Lösning
</summary>
<p>
Byt ut raden i början mot:

```python
index_of_year_2010 = 4
```
ändra inget annat.
</p>
</details>

Nu ska det visas ett diagram. Om talen som ska skrivas på y-axeln är mycket stora förkortar ibland python dem. Om det till exempel står `1e6` uppe till vänster i diagrammet så betyder det att talen på y-axeln egentligen ska multipliceras med $10^6$, det vill säga 1 miljon.

Har utsläppen för hela länet minskat eller ökat sen 2010?

Vilket år släpptes mest koldioxid ut? Hur mycket var det? Vad är enheten?

Testa att sätta ett `#` före raden `plt.ylim(0)`, så att den kommenteras ut. Vad händer med diagrammet nu? Vilket diagram är mest rättvist?

<details>
<summary markdown="span">
Svar
</summary>
<p>
Diagrammet anpassas så att den nedre gränsen är vid det lägsta värdet. Detta gör att små förändringar ser större ut. I vissa fall kan detta vara bra, eftersom man ser förändringarna tydligare. Det kan dock ge en skev bild av verkligheten eftersom man kanske tror att förändringarna är mycket större än de egentligen är. 
</p>
</details>

Nu är det din tur att plotta hur utsläppen för en enskild kommun har sett ut. Först måste du hämta ut mätvärdena för en kommun på samma sätt som listan `total_co2` hämtades innan. Skapa en lista `kommun_co2` som innehåller utsläppen för en valfri kommun. Kör först koden som skriver ut tabellen, och bestäm dig för vilken kommun du vill kolla på.

In [ ]:
print_table(co2_tabell)

In [ ]:
# Fyll i koden så att kommun_co2 innehåller mätvärdena för kommunen du valt
kommun_co2 = ???
print(kommun_co2)

<details>
<summary markdown="span">
Tips 1
</summary>
<p>
Titta på den utskrivna tabellen, hitta index för kommunen du vill kolla på där.

Indexet borde vara minst 3. På index 2 låg ju data för hela länet.
</p>
</details>

<details>
<summary markdown="span">
Tips 2
</summary>
<p>
När du vet vilket index kommunen ligger på kan du göra på samma sätt som när <code> total_co2 </code> skapades. 
</p>
</details>

<details>
<summary markdown="span">
Lösning
</summary>
<p>
Om du vill titta på kommunen som ligger på den 6:e raden i tabellen skriver du:
<code> kommun_co2 = co2_tabell[5] </code>
</p>
</details>

Nu ska det gå att göra ett diagram med din valda kommuns koldioxidutsläpp på ungefär samma sätt som för hela länets. Kopiera men ändra tidigare kod så att du använder kommunens data istället för hela länets. Kom ihåg att ändra namnet så att man ser vilken kommun diagrammet handlar om.

In [ ]:
#Kopiera tidigare kod och ändra så att diagram för kommun skapas.

<details>
<summary markdown="span">
Lösning
</summary>
<p>
Vi byter ut allt som har med total, det vill säga länets utsläpp, med kommunens utsläpp.

```python
index_of_year_2010 = 4

years_from_2010 = years[index_of_year_2010:]
kommun_co2_from_2010 = kommun_co2[index_of_year_2010:]

plt.plot(years_from_2010, kommun_co2_from_2010, "o-", label="Koldioxid i " + kommun_co2[0])
plt.xlabel("Årtal")
plt.ylabel("Ton")
plt.ylim(0) #Gör så att y-axeln börjar från 0.
plt.legend()
plt.show()
```
</p>
</details>

Jämför diagrammen för hela länet och din kommun.

Uppskatta hur stor del av länets koldioxidutsläpp som kommer från din kommun år 2017.

Följer kommunens utsläppskurva samma trend som hela länets?



## Undersök metangasutsläpp

Koldioxid är inte den enda växthusgasen som har en påverkan på klimatet. En annan viktig växthusgas är metan. En vanlig källa till metangas är jordbruket. Nu ska vi undersöka hur kommunernas metangasutsläpp ser ut.

Om du kan, öppna den nerladdade filen och kolla på den (i excel eller google sheets till exempel). Hur skiljer den sig från koldioxidtabellen?

<details>
<summary markdown="span">
Tips
</summary>
<p>
Kolla på årtalen!
</p>
</details>

<details>
<summary markdown="span">
Svar
</summary>
<p>
Metantabellen har två kolumner för varje årtal.
</p>
</details>

För att lättare kunna jämföra olika växthusgasers miljöpåverkan har begreppet koldioxidekvivalent införts. Det är en omvandlingsfaktor som ofta används på andra växhusgaser än koldioxid, exempelvis metan. På så sätt kan man lättare jämföra metanets påverkan i förhållande till koldioxid. Tabellen för metan innehåller en kolumn med metanutsläppen i enhet ton/år och sedan en till kolumn för samma år fast med enheten ton/år som CO2-ekvivalent.

Detta gör att datan vi är intresserad av att plotta är placerad i varannan kolumn istället. Här visar vi hur man kan lösa detta problemet med slicing. Tidigare har vi använt slicing för att enbart kolla på åren 2010-2017, men man kan även använda slicing för att ändra steglängden. Detta gör att vi skulle kunna plocka ut vartannat eller var tredje värde.

### Genomgång av slicing i python

Slicing kan hjälpa dig att skapa en ny lista av delar av en annan lista. Man kan ange startvärde, slutvärde samt steglängd genom att skriva `en_lista[start:slut:steg]`. Om man inte skriver startvärde börjar man på första elementet i listan. Om man inte skriver slutvärde så fortsätter man till listans tar slut. Om man inte skriver steglängd är steglängden 1.

Nedan har vi skapat en liten lista med heltal och skrivit kod som plockar ut vartannat värde. Kan du ändra koden så du får de jämna talen som är större än 4?

In [ ]:
list = [1,2,3,4,5,6,7,8,9,10,11,12]
even = list[1::2] # Börja på index 1, ta vartannat tal till slutet av listan.
print(even)

<details>
<summary markdown="span">
Svar
</summary>
<p>
<code>even = list[5::2]</code> ger utskriften <code>[6,8,10,12]</code>
</p>
</details>

Kan du plocka ut de talen som är delbara med 3?

In [ ]:
list3 = #skriv din kod här

<details>
<summary markdown="span">
Svar
</summary>
<p>
<code>list3 = list[2::3]</code>
</p>
</details>

Prova gärna runt lite med slicing. 
Vad händer om du skriver negativa start-, slut- eller stegtal?

In [ ]:
#Testa vad du vill!

### Importera datafil för metangasutsläpp och skapa diagram för länets utsläpp

Nu behöver vi importera filen för metanutsläpp. Det gör vi på samma sätt som tidigare. Byt ut filnamnet om du har laddat ner en egen fil.

In [ ]:
metan_filename = 'lansrapport_skane_CH4.xls' #Byt ut mig!
metan_tabell = read_data(metan_filename)
print_table(metan_tabell)

Som du såg om du öppnade filen i excel eller liknande innan så har varje årtal två värden, ett riktigt metanvärde, och en koldioxidekvivalent för det värdet.

Eftersom varje årtal har två värden har indexet för 2010 förskjutits, dessutom behöver vi använda en slice för att bara få ut de riktiga metanvärdena.

Vi börjar med att titta på raden med årtal och mätvärdena för hela länet.

In [ ]:
all_years = metan_tabell[0]
all_metan_values = metan_tabell[2]

print (all_years)
print (all_metan_values)

För varje år är det första värdet mängden metan, och det andra värdet koldioxidekvivalenten. Vi vill plocka ut alla riktiga metanvärden från 2010 och framåt med hjälp av en slice. Vilket index ska vi börja på? Vilken steglängd ska vi använda?

<details>
<summary markdown="span">
Svar
</summary>
<p>
Första 2010 kommer på index 7. Vi vill ha en steglängd på 2 för att hoppa över kolumnerna med koldioxidekvivalenter.
</p>
</details>

Använda indexet och steglängden för att skapa listorna `years_metan_from_2010` och `total_metan_from_2010` genom att plocka ut information från `all_years` och `all_metan_values`.

In [ ]:
years_metan_from_2010 = #skriv din kod här!
total_metan_from_2010 = #skriv din kod här!

<details>
<summary markdown="span">
Svar
</summary>
<p>

```python
years_metan_from_2010 = all_years[7::2]
total_metan_from_2010 = all_metan_values[7::2]
````
</p>
</details>

På samma sätt som tidigare kan vi nu skapa ett diagram med länets totala utsläpp från 2010 och framåt. Använd den tidigare koden för att plotta koldioxid, men ändra den så att den visar metanutsläppet.

<details>
<summary markdown="span">
Lösning
</summary>
<p>

```python
plt.plot(years_metan_from_2010, total_metan_from_2010, "o-", label="Metanutsläpp i hela länet")
plt.xlabel("Årtal")
plt.ylabel("Ton")
plt.ylim(0) #Gör så att y-axeln börjar från 0.
plt.legend()
plt.show()
````
</p>
</details>

Har metanutsläppen ökat eller minskat i länet sen 2010?

### Plotta metanutsläpp och dess koldioxidekvivalent i samma graf

Vi vill nu kolla på hur mycket koldioxid de här utsläppen motsvarar. Det gör vi genom att också plotta koldioxidekvivalenterna som vi tidigare hoppade över i listan `all_metan_values`

Du ska nu ta fram en lista `metan_co2ekv_from_2010` som innehåller koldioxidekvivalenterna av metanutsläppen för varje år. Detta kan du göra på samma sätt som för `total_metan_from_2010`, fast nu med ett annat startindex.

Vilket blir det nya startindexet? 

<details>
<summary markdown="span">
Svar
</summary>
<p>
Nu ska vi börja på index 8 istället, ett steg fram alltså.
</p>
</details>

Skriv kod som skapar `metan_co2ekv_from_2010`.

In [ ]:
metan_co2ekv_from_2010 = all_metan_values[???::2]
print(metan_co2ekv_from_2010)

<details>
<summary markdown="span">
Svar
</summary>
<p>

```python
metan_co2ekv_from_2010 = all_metan_values[8::2]
```
</p>
</details>

Vi kan nu plotta metan och koldioxidekvivalenten till metanet i samma figur med följande kod:

In [ ]:
plt.plot(years_metan_from_2010, total_metan_from_2010, "o-", label="Metanutsläpp i hela länet")
plt.plot(years_metan_from_2010, metan_co2ekv_from_2010, "o-", label="Koldioxidekvivalent av metanutsläpp i hela länet")
plt.xlabel("Årtal")
plt.ylabel("Ton")
plt.ylim(0) #Gör så att y-axeln börjar från 0.
plt.legend()
plt.show()

Vad visar grafen? Är koldioxidekvivalenten större eller mindre än det faktiska metanutsläppet? 

<details>
<summary markdown="span">
Svar
</summary>
<p>
Koldioxidekvivalenterna är större.
</p>
</details>

Ta reda på exakt hur mycket metan det släpptes ut det senaste året du har data för samt hur mycket koldioxid detta motsvarade. Du kan använda print och listorna som användes i uppgiften innan.

In [ ]:
print("Mängd metan som släpptes ut:")
print(???)

print("Koldioxidekvivalenten:")
print(???)

<details>
<summary markdown="span">
Tips
</summary>
<p>
Man kan indexera bakifrån i en lista genom att använda negativa index. Till exempel ger <code>lista[-1]</code> det sista elementet i listan! 
</p>
</details>

<details>
<summary markdown="span">
Lösning
</summary>
<p>
Printa
<code>
total_metan_from_2010[-1]
</code>
och
<code>
metan_co2ekv_from_2010[-1]
</code>.
</p>
</details>

Hur mycket koldioxid motsvarar ett ton metan?

<details>
<summary markdown="span">
Tips
</summary>
<p>
Dela koldioxidekvivalenten för ett år med metanutsläppet samma år
</p>
</details>

<details>
<summary markdown="span">
Svar
</summary>
<p>
1 ton metan motsvarar 25 ton koldioxid.
</p>
</details>

## Plotta metans koldioxidekvivalent och koldioxidutsläpp för varje kommun

Vi tänkte nu kolla på hur metan- och koldioxidutsläppen skiljer sig åt mellan de olika kommunerna i länet det sista året du har data för. Det gör man bäst med ett stapeldiagram.

Vi behöver tre listor. 

*   `kommuner` - innehåller namnet på samtliga kommuner.
*   `co2_kommun` - innehåller alla kommuners koldioxidutsläpp för det sista året
*   `metan_co2ekv_kommun` - innehåller metanutsläppens koldioxidekvivalenter. 

Det finns kod för att ta fram koldioxidutsläppen för alla kommunerna. Skapa de andra två listorna genom att använda `metan_tabell` och göra på liknande sätt.

In [ ]:
# Tar bort det tre första raderna i co2_tabellen som innehåller rubriker samt mätvärden för hela länet
co2_data_kommuner = co2_tabell[3:]

# Plockar ut det sista elementet i varje rad, det vill säga mätvärdet det sista året.
co2_kommun = [rad[-1] for rad in co2_data_kommuner] 

# Skriv kod för att ta fram listorna 'kommuner' och 'metan_kommun':

# ...
# ...
# kommuner = ...
# metan_co2ekv_kommun = ...

Som hjälp kan du printa `metan_tabell`, så att du vet vad som finns på vilket plats.

In [ ]:
print_table(metan_tabell)

<details>
<summary markdown="span">
Lösning
</summary>
<p>

```python
# Tar bort det tre första raderna i co2_tabellen som innehåller rubriker samt mätvärden för hela länet
co2_data_kommuner = co2_tabell[3:]

# Plockar ut det sista elementet i varje rad
co2_kommun = [rad[-1] for rad in co2_data_kommuner] 

# Kod för att ta fram listorna 'kommuner' och 'metan_kommun':

metan_data_kommuner = metan_tabell[3:]

# Plockar du den första kolumnen.
kommuner = [rad[0] for rad in metan_data_kommuner] 

# Plockar ut den sista kolumnen.
metan_co2ekv_kommun = [rad[-1] for rad in metan_data_kommuner]
```
</p>
</details>

Kolla att du fått rätt listor genom att skriva ut dem. Det ska vara lika många saker i alla listorna.

In [ ]:
print (kommuner)
print (co2_kommun)
print (metan_co2ekv_kommun)

Koden nedan skapar stapeldiagram av listorna:

In [ ]:
bars = [] # Spara resultaten av anropen till bar
plt.figure(figsize=(15,10)) # Större figur
bars.append(plt.bar(kommuner, co2_kommun, bottom=np.zeros(len(kommuner)), label='Koldioxid'))
bars.append(plt.bar(kommuner, metan_co2ekv_kommun, bottom=co2_kommun, label='Metan omräknat till koldioxidekvivalent'))

plt.ylabel('Ton')
plt.title('Utsläpp per kommun')
plt.xticks(rotation=-90)

plt.legend(handles=bars[::-1]) # Lägg till labels i omvänd ordning
plt.show()

Skiljer det sig mycket mellan kommunerna?

Vilken kommun släpper ut mest koldioxid?

Vilken kommun släpper ut mest metan?

Vilken kommun släpper ut minst totalt sett?

Välj en valfri kommun och uppskatta hur stor andel av deras utsläpp som utgörs av metan.

Vilka anledningar tror du spelar mest roll för kommunernas utsläpp av

a) koldioxid?
b) metan?

## Kommentar

Siffrorna vi kollar på här är absoluta tal, alltså det totala utsläppet. För att klimatmålen ska uppnås räknar man med att varje person kan släppa ut ungefär 1-2 ton CO2 per år. Ta reda på hur många som bor i länet du valt och räkna ut hur mycket som släpps ut per person. Hur ser det ut i förhållande till målet?

Mycket av våra utsläpp sker inte i Sverige utan i utlandet där varor vi konsumerar har producerats. Du kan läsa mer om det här: [Sveriges Natur](https://www.sverigesnatur.org/aktuellt/sverige-inget-klimatforedome-nar-konsumtionen-raknas/).

# Minns du vad du har gått igenom? Nu är det dags för ett quiz!

In [ ]:
#@title Kör rutan för att öppna quizet!
!wget https://raw.githubusercontent.com/lunduniversity/schoolprog-satellite/master/for_developers/quiz.py --quiet
!wget https://raw.githubusercontent.com/lunduniversity/schoolprog-satellite/master/exercises/regional_greenhouse_emissions/quiz_regional_emissions.json --quiet
import json
import quiz

with open("quiz_regional_emissions.json") as f:
  quiz_dict = json.load(f)
quiz.main(quiz_dict)

## Fördjupning / Projektidéer

* Ladda in utsläpp av lustgas i länet. Plotta lustgas tillsammans med metan och koldioxid. Räkna ut omvandlingsfaktorn för lustgas.

* I datafilerna finns också information om utsläpp per sektor. Ta reda på vilken eller vilka sektorer som är de huvudsakliga utsläppskällorna av koldioxid samt metan. Tips: Du kommer behöva ändra i funktionen som läser in tabellen.